<HTML>
<HEAD>
<META HTTP-EQUIV="Content-Type" CONTENT="text/html;charset=windows-1256">
<TITLE>Items</TITLE>
</HEAD>
<BODY>
<TABLE BORDER=0 CELLSPACING=0 CELLPADDING=0 >
<TR HEIGHT=15 >
<TD WIDTH=23  ALIGN=LEFT > <BR></TD><TD WIDTH=18  ALIGN=RIGHT  BGCOLOR=#79A7E3 ><B><FONT style=FONT-SIZE:9pt FACE="Arial" COLOR=#00224d>ID</FONT></B></TD>
<TD WIDTH=4  ALIGN=LEFT > <BR></TD><TD WIDTH=220  ALIGN=LEFT  BGCOLOR=#79A7E3 ><B><FONT style=FONT-SIZE:9pt FACE="Arial" COLOR=#00224d>ItemName</FONT></B></TD>
<TD WIDTH=220  ALIGN=LEFT  BGCOLOR=#79A7E3 ><B><FONT style=FONT-SIZE:9pt FACE="Arial" COLOR=#00224d>ItemAmount</FONT></B></TD>
<TD WIDTH=259  ALIGN=LEFT  BGCOLOR=#79A7E3 ><B><FONT style=FONT-SIZE:9pt FACE="Arial" COLOR=#00224d>ItemPrice</FONT></B></TD>
</TR>
</TABLE>
<TABLE BORDER=0 CELLSPACING=0 CELLPADDING=0 >
<TR HEIGHT=15 >
<TD WIDTH=23  ALIGN=LEFT > <BR></TD><TD WIDTH=18  ALIGN=RIGHT  BGCOLOR=#FFFFFF ><FONT style=FONT-SIZE:9pt FACE="Arial" COLOR=#000000>74</FONT></TD>
<TD WIDTH=4  ALIGN=LEFT > <BR></TD><TD WIDTH=220  ALIGN=LEFT  BGCOLOR=#FFFFFF ><FONT style=FONT-SIZE:9pt FACE="Arial" COLOR=#000000>Tea</FONT></TD>
<TD WIDTH=220  ALIGN=LEFT  BGCOLOR=#FFFFFF ><FONT style=FONT-SIZE:9pt FACE="Arial" COLOR=#000000>33</FONT></TD>
<TD WIDTH=259  ALIGN=LEFT  BGCOLOR=#FFFFFF ><FONT style=FONT-SIZE:9pt FACE="Arial" COLOR=#000000>10</FONT></TD>
</TR>
</TABLE>
<TABLE BORDER=0 CELLSPACING=0 CELLPADDING=0 >
<TR HEIGHT=15 >
<TD WIDTH=23  ALIGN=LEFT > <BR></TD><TD WIDTH=18  ALIGN=RIGHT  BGCOLOR=#FFFFFF ><FONT style=FONT-SIZE:9pt FACE="Arial" COLOR=#000000>75</FONT></TD>
<TD WIDTH=4  ALIGN=LEFT > <BR></TD><TD WIDTH=220  ALIGN=LEFT  BGCOLOR=#FFFFFF ><FONT style=FONT-SIZE:9pt FACE="Arial" COLOR=#000000>Cola</FONT></TD>
<TD WIDTH=220  ALIGN=LEFT  BGCOLOR=#FFFFFF ><FONT style=FONT-SIZE:9pt FACE="Arial" COLOR=#000000>12</FONT></TD>
<TD WIDTH=259  ALIGN=LEFT  BGCOLOR=#FFFFFF ><FONT style=FONT-SIZE:9pt FACE="Arial" COLOR=#000000>1.5</FONT></TD>
</TR>
</TABLE>
<TABLE BORDER=0 CELLSPACING=0 CELLPADDING=0 >
<TR HEIGHT=15 >
<TD WIDTH=23  ALIGN=LEFT > <BR></TD><TD WIDTH=18  ALIGN=RIGHT  BGCOLOR=#FFFFFF ><FONT style=FONT-SIZE:9pt FACE="Arial" COLOR=#000000>76</FONT></TD>
<TD WIDTH=4  ALIGN=LEFT > <BR></TD><TD WIDTH=220  ALIGN=LEFT  BGCOLOR=#FFFFFF ><FONT style=FONT-SIZE:9pt FACE="Arial" COLOR=#000000>Milk</FONT></TD>
<TD WIDTH=220  ALIGN=LEFT  BGCOLOR=#FFFFFF ><FONT style=FONT-SIZE:9pt FACE="Arial" COLOR=#000000>35</FONT></TD>
<TD WIDTH=259  ALIGN=LEFT  BGCOLOR=#FFFFFF ><FONT style=FONT-SIZE:9pt FACE="Arial" COLOR=#000000>7</FONT></TD>
</TR>
</TABLE>
<TABLE BORDER=0 CELLSPACING=0 CELLPADDING=0 >
<TR HEIGHT=15 >
<TD WIDTH=23  ALIGN=LEFT > <BR></TD><TD WIDTH=18  ALIGN=RIGHT  BGCOLOR=#FFFFFF ><FONT style=FONT-SIZE:9pt FACE="Arial" COLOR=#000000>77</FONT></TD>
<TD WIDTH=4  ALIGN=LEFT > <BR></TD><TD WIDTH=220  ALIGN=LEFT  BGCOLOR=#FFFFFF ><FONT style=FONT-SIZE:9pt FACE="Arial" COLOR=#000000>Tea</FONT></TD>
<TD WIDTH=220  ALIGN=LEFT  BGCOLOR=#FFFFFF ><FONT style=FONT-SIZE:9pt FACE="Arial" COLOR=#000000>33</FONT></TD>
<TD WIDTH=259  ALIGN=LEFT  BGCOLOR=#FFFFFF ><FONT style=FONT-SIZE:9pt FACE="Arial" COLOR=#000000>10</FONT></TD>
</TR>
</TABLE>
<TABLE BORDER=0 CELLSPACING=0 CELLPADDING=0 >
<TR HEIGHT=15 >
<TD WIDTH=23  ALIGN=LEFT > <BR></TD><TD WIDTH=18  ALIGN=RIGHT  BGCOLOR=#FFFFFF ><FONT style=FONT-SIZE:9pt FACE="Arial" COLOR=#000000>78</FONT></TD>
<TD WIDTH=4  ALIGN=LEFT > <BR></TD><TD WIDTH=220  ALIGN=LEFT  BGCOLOR=#FFFFFF ><FONT style=FONT-SIZE:9pt FACE="Arial" COLOR=#000000>Cola</FONT></TD>
<TD WIDTH=220  ALIGN=LEFT  BGCOLOR=#FFFFFF ><FONT style=FONT-SIZE:9pt FACE="Arial" COLOR=#000000>12</FONT></TD>
<TD WIDTH=259  ALIGN=LEFT  BGCOLOR=#FFFFFF ><FONT style=FONT-SIZE:9pt FACE="Arial" COLOR=#000000>1.5</FONT></TD>
</TR>
</TABLE>
<TABLE BORDER=0 CELLSPACING=0 CELLPADDING=0 >
<TR HEIGHT=15 >
<TD WIDTH=23  ALIGN=LEFT > <BR></TD><TD WIDTH=18  ALIGN=RIGHT  BGCOLOR=#FFFFFF ><FONT style=FONT-SIZE:9pt FACE="Arial" COLOR=#000000>79</FONT></TD>
<TD WIDTH=4  ALIGN=LEFT > <BR></TD><TD WIDTH=220  ALIGN=LEFT  BGCOLOR=#FFFFFF ><FONT style=FONT-SIZE:9pt FACE="Arial" COLOR=#000000>Milk</FONT></TD>
<TD WIDTH=220  ALIGN=LEFT  BGCOLOR=#FFFFFF ><FONT style=FONT-SIZE:9pt FACE="Arial" COLOR=#000000>35</FONT></TD>
<TD WIDTH=259  ALIGN=LEFT  BGCOLOR=#FFFFFF ><FONT style=FONT-SIZE:9pt FACE="Arial" COLOR=#000000>7</FONT></TD>
</TR>
</TABLE>
<TABLE BORDER=0 CELLSPACING=0 CELLPADDING=0 >
<TR HEIGHT=15 >
<TD WIDTH=23  ALIGN=LEFT > <BR></TD><TD WIDTH=18  ALIGN=RIGHT  BGCOLOR=#FFFFFF ><FONT style=FONT-SIZE:9pt FACE="Arial" COLOR=#000000>80</FONT></TD>
<TD WIDTH=4  ALIGN=LEFT > <BR></TD><TD WIDTH=220  ALIGN=LEFT  BGCOLOR=#FFFFFF ><FONT style=FONT-SIZE:9pt FACE="Arial" COLOR=#000000>Tea</FONT></TD>
<TD WIDTH=220  ALIGN=LEFT  BGCOLOR=#FFFFFF ><FONT style=FONT-SIZE:9pt FACE="Arial" COLOR=#000000>33</FONT></TD>
<TD WIDTH=259  ALIGN=LEFT  BGCOLOR=#FFFFFF ><FONT style=FONT-SIZE:9pt FACE="Arial" COLOR=#000000>10</FONT></TD>
</TR>
</TABLE>
<TABLE BORDER=0 CELLSPACING=0 CELLPADDING=0 >
<TR HEIGHT=14 >
<TD WIDTH=3  ALIGN=LEFT > <BR></TD><TD WIDTH=402  ALIGN=LEFT  BGCOLOR=#FFFFFF ><FONT style=FONT-SIZE:8pt FACE="Arial" COLOR=#000000>Wednesday, August 18, 2010</FONT></TD>
<TD WIDTH=336  ALIGN=RIGHT  BGCOLOR=#FFFFFF ><FONT style=FONT-SIZE:8pt FACE="Arial" COLOR=#000000>Page 3 of 3</FONT></TD>
</TR>
</TABLE>

<A HREF="tempfile.html">First</A> <A HREF="tempfilePage2.html">Previous</A> <A HREF="#">Next</A> <A HREF="#">Last</A></BODY>
</HTML>